#cover {
	background-size: cover;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.has-error input {
  background-color: rgb(243, 210, 210) !important;
  border: 2px solid lightcoral !important;
  border-radius: 5px;
}

.validation-message {
  color: lightcoral;
  float: right;
  height: 15px;
  margin-bottom: -10px;
}

#cover-caption {
	width: 100%;
	position: relative;
	z-index: 1;
}

label {
	float: left;
}

.fixed-width-500 {
	width: 500px !important;
}

input[type=checkbox] {
	margin-left: 10px;
}

button[type=submit], button[type=reset] {
	float: right;
	width: 100px;
	margin-left: 15px;
	margin-top: 45px;
}

h1 {
	font-size: 10px;
}

form:before {
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: -1;
	border-radius: 10px;
}
