<template>
  <require from="./Person.css"></require>
  <section id="cover" class="min-vh-100">
    <div id="cover-caption">
      <div class="container">
        <div class="row text-white">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4 fixed-width-500">
            <h1 class="display-4 py-2 text-truncate">add new Person</h1>
            <div class="px-2">
              <form  class="justify-content-center">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" value.bind="Name & validate" class="form-control" >
                </div>
                <div class="form-group">
                  <label for="familyname">FamilyName</label>
                  <input type="text" value.bind="FamilyName & validate" class="form-control">
                </div>
                <div class="form-group">
                  <label for="Address">Address</label>
                  <input type="text" value.bind="Address & validate" class="form-control">
                </div>
                <div class="form-group">
                  <label for="countryoforigin">CountryOfOrigin</label>
                  <input type="text" value.bind="CountryOfOrigin & validate" class="form-control">
                </div>
                <div class="form-group">
                  <label for="emailaddress">Email</label>
                  <input type="text" value.bind="Email & validate" class="form-control">
                </div>
                <div class="form-group">
                  <label for="age">Age</label>
                  <input type="number" value.bind="Age & validate" class="form-control">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg"  click.trigger="onAdd()" disabled.bind="!IsValid">Add</button>
                  <button type="reset" class="btn btn-primary btn-lg" click.trigger="onReset()" disabled.bind="IsEmpty">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
