<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<title></title>

	<% for (var css in htmlWebpackPlugin.files.css) { %>
	<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <style>
    body
    {
        background: #222 !important;
    }
    #loader 
    {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #222;
      border-radius: 50%;
      border-top: 16px solid #f3f3f3;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }
  
    @keyframes spin 
    {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    .animate-bottom 
    {
      position: relative;
      animation-name: animatebottom;
      animation-duration: 1s
    }
  
    @keyframes animatebottom 
    {  
      from{ bottom:-100px; opacity:0 } 
      to{ bottom:0; opacity:1 }
    }
  </style>
</head>
<body>
	<div aurelia-app="main">
		<div id="loader"></div>
	</div>

	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
	<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script> <% } %>
</body>
</html>
