#cover {
	background-size: cover;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	position: relative;
}


.Message {
    text-align: left;
}






#cover-caption {
	width: 100%;
	position: relative;
	z-index: 1;
}

.fixed-width-500 {
	width: 500px !important;
}





h1 {
	font-size: 10px;
}


