<template>
    <require from="./Response.css"></require>
    <section id="cover" class="min-vh-100">
      <div id="cover-caption">
        <div class="container">
          <div class="row text-white">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4 fixed-width-500">
              <h1 class="display-4 py-2 text-truncate"><i class="fa fa-${IsError ? 'exclamation-triangle' : 'check-circle' }" aria-hidden="true"></i> ${Heading}</h1>
              <div class="px-2">
                <ul>
                    <li class="Message" repeat.for="Message of Messages">${Message}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </template>
  